<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Test" connectionString="data source=tcp:qpyirjq1xw.database.windows.net,1433;initial catalog=FlyAwayAirlinesWriteOnly;persist security info=True;user id=DylanNicolini@qpyirjq1xw;password=Test1234#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>